$primary-color: #252728;
$secondary-color: #6A8FD0;
$tertiary-color: #2A2E33;
$white-color: #fff;
$error-color: #c6706f;
$success-color: #4a794a;
$green-color: #324b3e;
$grey-color: #3A475B;
$text-color: #c9cbcf;
$background-color: #151515;
$light-green-color: #6BA06B;
$shadow-color: rgba(0, 0, 0, 0.81);
$black-color: #222222;
$dark-text-color: #838388;
$light-gray-text: #B4B4BB;
$radio-button-color: #d4c0c9;

$font: 'Shantell Sans', cursive;