@import "src/style/global";

.header {
  color: $text-color;
  margin: 5vh 0;
  text-align: center;
}

.signals {
  margin: 7vh 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5vh;
}

.buttonSubmit {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}